/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * 
 */
@tailwind preflight;

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  *
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * 
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

@mixin strike-center {
  text-decoration: line-through;
}

body {
  height: 100vh;
  font-size: 14px;
  overflow: auto;
  @apply bg-black;
}

.input-text {
  @apply w-full p-2 bg-grey-darker rounded-sm;

  &__input {
    @apply w-full bg-grey-darker text-white;

    &:focus {
      outline: none;
    }
  }
}

.todo-item {
  @apply text-white w-full flex items-center pt-4 flex-wrap max-w-full;

  &--completed {
    @apply text-grey-darker;
  }

  &:hover {
    .trash {
      display: block;
    }
  }
}

.todo-checkbox {
  min-width: 1.25rem;
  min-height: 1.25rem;
  border-radius: 50%;
  position: relative;
  @apply border border-grey-darkest mr-2;

  &--completed {
    &::before {
      position: absolute;
      content: "";
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @apply border border-grey-darker;
      @apply bg-grey-darker;
    }
  }
}

.trash {
  display: none;
}

.todo-title {
  overflow: hidden;
  @apply flex-grow flex-no-shrink max-w-full py-1 px-3 justify-between;

  &__text {
    line-height: 1.5;

    &--completed {
      @include strike-center();
      @apply text-grey-darker;
    }
  }
}

.CodeMirror-hints {
  max-height: 20em;
  @apply bg-blue-darkest absolute z-10 overflow-hidden list-reset p-0 font-mono text-sm overflow-y-auto .rounded-none border-0;
}

.CodeMirror-hint {
  @apply m-0 leading-normal whitespace-pre cursor-pointer text-grey-darker .rounded-none;
}

li.CodeMirror-hint-active {
  @apply text-grey-darker bg-blue-lighter;
}

::-webkit-scrollbar {
  background-color: #2b2b2b;
  border-left: 1px solid #3e3e3e;
  width: 0.65rem;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.tab-plus {
  transition: transform 50ms ease-out;

  &:hover {
    opacity: 0.8;
  }
}

.tab {
  @apply relative;

  &--active {
    @apply bg-grey-darkest border-r-0;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -1px;
      left: 0;
      @apply z-50 bg-green-dark;
    }
  }
}

.tab-expand,
.tab-expand > .tab__text {
  transform-origin: left top;
  animation-fill-mode: both;
}

.tab-expand {
  overflow: hidden;
  will-change: transform;
  contain: content;
  animation-name: tab-expand;
  animation-duration: 100ms;
  animation-timing-function: step-end;
}

.tab-expand > .tab__text {
  will-change: transform;
  contain: content;
  animation-name: tab-expandInverse;
  animation-duration: 100ms;
  animation-timing-function: step-end;
}

@keyframes tab-expand {
  0% {
    transform: scaleX(0);
  }
  20% {
    transform: scaleX(0.30837);
  }
  40% {
    transform: scaleX(0.57088);
  }
  60% {
    transform: scaleX(0.78514);
  }
  80% {
    transform: scaleX(0.93772);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes tab-expandInverse {
  0% {
    transform: scaleX(1000);
  }
  20% {
    transform: scaleX(3.24286);
  }
  40% {
    transform: scaleX(1.75168);
  }
  60% {
    transform: scaleX(1.27366);
  }
  80% {
    transform: scaleX(1.06642);
  }
  100% {
    transform: scaleX(1);
  }
}
